.box {
  /* padding: 0 2rem; */
  
  align-items: stretch;
  height: 100vh;
  text-align: center;
  
}
.innerBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-family: var(--mainFontFamily);
  padding: 2rem;
  width: 100%;
  
}

.innerBox p:last-of-type {
  margin-top: -5rem;
}
.button{
  color: var(--pageMainColor);
}

.message{
  font-family: var(--mainFontFamily);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .innerBox{
    font-size: 3rem;
    width: 100%;
    
  }
  .innerBox p:last-of-type {
    margin-top: -2rem;
  }
}
